.card-content {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  color: rgb(77, 7, 107);
  box-shadow: 5px 5px 5px rgb(111, 111, 111);
  .username,
  .userage,
  .usercountry {
    display: flex;
    flex-direction: column;
  }

  label {
    text-align: start;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  input,
  select {
    outline: none;
    border: 1px solid rgb(151, 151, 151);
    border-radius: 2px;
    margin: 5px 0;
    padding: 5px 5px;
    &:focus {
      background-color: rgb(232, 232, 232);
      border-color: rgb(118, 21, 160);
    }
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  form {
    font-weight: bold;
    padding: 10px 20px;
  }

  .add-user-button {
    &:hover {
      background-color: rgba(77, 7, 107, 0.506);
    }
  }
}
